<div class = "container" style ="margint-top : 30px; text-align: center; color: #ff1493;">
   <h2> 질문이 성공적으로 제출되었습니다. </h2>
   
   <a href="/home/index">
      <h3 style="text-align: center;">다른 질문하러 가기!</h3>
   </a>
</div>